@import "../../styles/colors.module.scss";
.menuContainer {
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.185);
  font-family: $font;
  display: flex;
  flex-direction: column;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: $secondary-color;
  }
}
.header {
  height: 150px;
  max-height: 150px;
  background-color: $secondary-color;
  color: white;
  padding: 20px;
  display: flex;
  align-items: flex-end;
}
.menuNav {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.navDivContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;

  .navDiv {
    text-align: center;
    font-size: 14px;
    color: #aaa;
  }
  span {
    display: block;
    height: 1px;
    width: 100px;
    background-color: #aaa;
  }
}

.navRef {
  color: $secondary-color;
  text-decoration: none;
  font-family: var(--font);
  padding: 16px 12px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navActive {
  @extend .navRef;
  background-color: $secondary-color;
  color: white;
}

.signOut {
  justify-self: flex-end;
  padding: 12px;
  color: red;
  border: none;
  background-color: transparent;
  font-family: $font;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin: 20px;
  border-radius: 8px;
  &:hover {
    background-color: red;
    color: white;
  }
}
.menu {
  display: none;
}
@media (max-width: 850px) {
  .menuContainer {
    max-width: 100%;
    width: 100%;
    position: fixed;
    height: 50px;
    overflow: visible;
  }
  .header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: block;
  }
  .menuNav {
    position: absolute;
    overflow: auto;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    max-width: 220px;
    padding: 20px;
    transform: translateY(50px) translateX(240px);
    background-color: white;
    height: 100svh;
  }
  .menuNavActive {
    width: 100%;
    right: 0;
    max-width: 220px;
    height: 100svh;
    position: absolute;
    padding: 20px;
    background-color: white;
    transform: translateY(50px);
    box-shadow: 3px 10px 10px 2px rgba(0, 0, 0, 0.514);
  }
}
