@import "../../styles/colors.module.scss";

.stockPanel {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  flex: 1;
  padding: 0px 20px;
  font-family: $font;
  display: flex;
  padding: 50px;
  gap: 30px;
}
.title {
  font-size: 26px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 10px;
}
.images {
  display: flex;
  gap: 20px;
  flex: 3;
  max-height: 100%;
}

.image {
  height: 100%;
  border-radius: 10px;
  flex: 1;
}
.formApprove {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aprovar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.return {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #aaa;
  outline: 0;
  font-family: $font;
  font-size: 14px;
  &:focus {
    box-shadow: 0px 0px 3px #00000049;
  }
}

.button {
  padding: 8px;
  border-radius: 4px;
  outline: 0;
  background-color: $primary-color;
  color: white;
  border: none;
  font-family: $font;
  font-size: 14px;
  &:not(:disabled) {
    cursor: pointer;
  }
  margin-top: 10px;
}
