@import "../../styles/colors.module.scss";

.stockPanel {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.162);
  flex: 1;
  padding: 0px 20px;
  font-family: $font;
  display: flex;
  flex-direction: column;
}
.stockPanelHeader {
  width: 100%;
  padding: 22px 22px;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
    padding: 8px;
    border-radius: 8px;
    height: 100%;
    input {
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: black;
      outline: none;
      min-width: 350px;
      &::placeholder {
        color: #888;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    a {
      color: $primary-color
    }
  }
}

.searchIcon {
  width: 22px;
  height: 22px;
}

.stockTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50%;
  flex: 1;
}

.stockTableContent {
  overflow: auto;
}

.stockTableRow {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 5fr;
  padding: 20px;
  text-align: start;
  border-bottom: 1px solid #ccc;

  p:nth-child(2) {
    text-align: start;
  }
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

.stockTableHeader {
  @extend .stockTableRow;
  width: 100%;
  border-bottom: 1px solid #555;
  font-weight: bold;
}
.footer {
  display: flex;
  padding: 20px;
  background-color: $secondary-color;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  flex: 2;
}
